<h1>TODO APP</h1>
<div class="container" id="form-container">
  <form (ngSubmit)="insertData()" [formGroup]="form">
      <div class="form-group">
          <input type="text" formControlName="todos" [(ngModel)]="todoclear"  class="form-control" placeholder="Enter Todo">
      </div>
      <!-- <div class="form-group">
          <button class="btn btn-success btn-sm mt-3">Submit</button>
      </div> -->
  </form>
  <div class="table" id="todo-table">
    <thead>
        <tr>
            <th scope="col">Todos List</th>
            <th scope="col">Done</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of tasks ; let i = index">
            <td>{{todo.todos}}</td>
            <td> <input type="checkbox" [checked]="todo.isDone"> </td>
            <td>
                <button class="btn btn-danger btn-sm" id="del-btn" (click)="deleteData(todo._id)">Delete</button>
            </td>
        </tr>
    </tbody>
</div>
</div>
<router-outlet></router-outlet>
