h1{
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}
#form-container{
    width: 30%;
    margin-top: 60px;
   
}
input:focus{
    background: #fff;
    border: 3px solid #2980b9;
    outline: none;
}
.table{
    margin-top: 50px;
}
th{
    width: 90%;
}
tr{
    font-size: 25px;
}
td{
    font-size: 20px;
}